<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>First Project</title>

    <style>
      input,
      button {
        font-size: 12px;
      }
    </style>
  </head>
  <body>
    <h1>Please Enter Correct Information</h1>
    <form action="/" method="post">
      <label for="username">UserName </label>
      <input type="text" name="username" id="username" required />
      <br />
      <br />
      <button>Add To DB</button>
    </form>
  </body>
</html>
